openapi: 3.0.1
info:
  contact:
    email: info@gemini-commerce.com
    name: Gemini Team
  license:
    name: Gemini fair use license
    url: https://gemini-commerce.com/api/fair-use-license
  title: Cart Service
  version: 1.0.0
servers:
- url: https://cart.api.gogemini.io/
security:
- Authorization: []
tags:
- description: Search Description
  externalDocs:
    url: https://gemini-commerce.com/api/cart
  name: Cart
paths:
  /cart.Cart/AddProducts:
    post:
      description: "This endpoint allows you to add products to a shopping cart. The\
        \ AddProducts method enables you to specify the tenantId and cartId to identify\
        \ the target shopping cart, and provide a list of items to be added."
      operationId: AddProducts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartAddProductsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartAddProductsResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Add Products
      tags:
      - Basic Operations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/ApplyCoupons:
    post:
      description: Apply coupons to the cart
      operationId: ApplyCoupons
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartApplyCouponsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartApplyCouponsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Apply Coupons
      tags:
      - Promotions
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/CreateCart:
    post:
      description: "The CreateCart endpoint allows users to create a new cart for\
        \ their shopping session. By making a request to this endpoint, users can\
        \ initiate a new cart and obtain a unique identifier for future cart operations.\
        \ This endpoint enables seamless cart management and provides a foundation\
        \ for adding products and performing checkout operations."
      operationId: CreateCart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartCreateCartRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartCreateCartResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Create Cart
      tags:
      - Basic Operations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/GetActiveCartByCustomer:
    post:
      description: Get the active cart by customer
      operationId: GetActiveCartByCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartGetActiveCartByCustomerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartGetActiveCartByCustomerResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get Active Cart By Customer
      tags:
      - Basic Operations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/GetCart:
    post:
      description: Get the cart
      operationId: GetCart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartGetCartRequest'
        description: Get cart request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartGetCartResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Get Cart
      tags:
      - Basic Operations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/ListCarts:
    post:
      description: List all carts
      operationId: ListCarts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartListCartsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartListCartsResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: List Carts
      tags:
      - Basic Operations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/ListPaymentMethods:
    post:
      description: List payment methods
      operationId: ListPaymentMethods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartListPaymentMethodsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartListPaymentMethodsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: List Payment Methods
      tags:
      - Payments
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/ListShipmentMethods:
    post:
      description: List shipment methods
      operationId: ListShipmentMethods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartListShipmentMethodsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartListShipmentMethodsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: List Shipment Methods
      tags:
      - Shipments
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/MergeCarts:
    post:
      description: Merge carts
      operationId: MergeCarts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartMergeCartsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartMergeCartsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Merge Carts
      tags:
      - Basic Operations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/RemoveCoupons:
    post:
      description: Remove coupons from the cart
      operationId: RemoveCoupons
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartRemoveCouponsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartRemoveCouponsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Remove Coupons
      tags:
      - Promotions
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/RemoveProducts:
    post:
      description: Remove products from the cart
      operationId: RemoveProducts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartRemoveProductsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartRemoveProductsResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Remove Products
      tags:
      - Basic Operations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/SetAdditionalInfo:
    post:
      description: Set additional info
      operationId: SetAdditionalInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartSetAdditionalInfoRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartSetAdditionalInfoResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Set Additional Info
      tags:
      - Basic Operations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/SetBillingAddress:
    post:
      description: Set billing address
      operationId: SetBillingAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartSetBillingAddressRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartSetBillingAddressResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Set Billing Address
      tags:
      - Addresses
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/SetCustomPriceOnItems:
    post:
      operationId: Cart_SetCustomPriceOnItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartSetCustomPriceOnItemsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartSetCustomPriceOnItemsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      tags:
      - Cart
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/SetNotes:
    post:
      description: Set notes
      operationId: SetNotes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartSetNotesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartSetNotesResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Set Notes
      tags:
      - Basic Operations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/SetPayments:
    post:
      description: Set SetPayments
      operationId: SetSetPayments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartSetPaymentsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartSetPaymentsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Set SetPayments
      tags:
      - Payments
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/SetShipmentAddress:
    post:
      description: Set shipment address
      operationId: SetShipmentAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartSetShipmentAddressRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartSetShipmentAddressResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Set Shipment Address
      tags:
      - Addresses
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/SetShipments:
    post:
      description: Set shipments
      operationId: SetShipments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartSetShipmentsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartSetShipmentsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Set Shipments
      tags:
      - Shipments
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/TriggerRealignment:
    post:
      description: Trigger realignment
      operationId: TriggerRealignment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartTriggerRealignmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartTriggerRealignmentResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Trigger Realignment
      tags:
      - Basic Operations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/UpdateCart:
    post:
      description: Update the cart
      operationId: UpdateCart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartUpdateCartRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartUpdateCartResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Update Cart
      tags:
      - Basic Operations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
  /cart.Cart/UpdateProducts:
    post:
      description: Update products in the cart
      operationId: UpdateProducts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cartUpdateProductsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cartUpdateProductsResponse'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An internal error occurred is thrown when an incompatible payload
            is sent
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
          description: An unexpected error response.
      summary: Update Products
      tags:
      - Basic Operations
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    CartSubtotalCode:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - PAYMENT
      - SHIPMENT
      - TAX
      - ITEMS
      - DISCOUNT
      type: string
    ListCartsRequestFilter:
      properties:
        searchTerms:
          items:
            type: string
          title: |-
            search_terms is the search terms to be applied on the list of returns. This will be applied on the same field as the filters
            in exception of the cart_status which will always be applied in AND
          type: array
        customerEmails:
          items:
            type: string
          type: array
        customerFirstnames:
          items:
            type: string
          type: array
        customerLastnames:
          items:
            type: string
          type: array
        customerPhones:
          items:
            type: string
          type: array
        cartIds:
          items:
            type: string
          type: array
        cartStatus:
          $ref: '#/components/schemas/ListCartsRequestFilterCartStatus'
        createdAt:
          items:
            $ref: '#/components/schemas/ListCartsRequestFilterDate'
          type: array
        agentGrn:
          type: string
      type: object
    ListCartsRequestFilterCartStatus:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - ENABLED
      - DISABLED
      type: string
    ListCartsRequestFilterDate:
      properties:
        from:
          format: date-time
          type: string
        to:
          format: date-time
          type: string
      type: object
    ListCartsRequestSort:
      properties:
        evaluationOrder:
          description: "evaluation_order is the order in which the sort will be applied.\
            \ The lower the number, the earlier the sort will be applied."
          format: int64
          type: integer
        field:
          $ref: '#/components/schemas/SortSortField'
        order:
          $ref: '#/components/schemas/cartSortOrder'
      type: object
    OptionImage:
      example:
        grn: grn
        url: url
      properties:
        grn:
          type: string
        url:
          type: string
      type: object
    SortSortField:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - DATE
      - CART_TOTAL
      type: string
    UpdateCartRequestPayload:
      properties:
        cartStatus:
          $ref: '#/components/schemas/cartCartStatus'
        customerData:
          $ref: '#/components/schemas/cartCustomerData'
        locale:
          type: string
      type: object
    cartAddProductsRequest:
      properties:
        tenantId:
          type: string
        cartId:
          type: string
        items:
          items:
            $ref: '#/components/schemas/cartAddProductsRequestItem'
          type: array
      type: object
    cartAddProductsRequestItem:
      properties:
        productGrn:
          type: string
        quantity:
          format: int64
          type: integer
        configurationSelections:
          items:
            $ref: '#/components/schemas/cartProductConfigurationSelection'
          type: array
      type: object
    cartAddProductsResponse:
      example:
        items:
        - configurationSelections:
          - stepGrn: stepGrn
            options:
            - grn: grn
              quantity: 6
            - grn: grn
              quantity: 6
          - stepGrn: stepGrn
            options:
            - grn: grn
              quantity: 6
            - grn: grn
              quantity: 6
          quantity: 0
          productGrn: productGrn
          id: id
        - configurationSelections:
          - stepGrn: stepGrn
            options:
            - grn: grn
              quantity: 6
            - grn: grn
              quantity: 6
          - stepGrn: stepGrn
            options:
            - grn: grn
              quantity: 6
            - grn: grn
              quantity: 6
          quantity: 0
          productGrn: productGrn
          id: id
      properties:
        items:
          items:
            $ref: '#/components/schemas/cartAddProductsResponseItem'
          title: must returns only the added items
          type: array
      type: object
    cartAddProductsResponseItem:
      example:
        configurationSelections:
        - stepGrn: stepGrn
          options:
          - grn: grn
            quantity: 6
          - grn: grn
            quantity: 6
        - stepGrn: stepGrn
          options:
          - grn: grn
            quantity: 6
          - grn: grn
            quantity: 6
        quantity: 0
        productGrn: productGrn
        id: id
      properties:
        id:
          type: string
        productGrn:
          type: string
        quantity:
          format: int64
          type: integer
        configurationSelections:
          items:
            $ref: '#/components/schemas/cartProductConfigurationSelection'
          type: array
      type: object
    cartApplyCouponsRequest:
      properties:
        tenantId:
          type: string
        cartId:
          type: string
        couponCodes:
          items:
            type: string
          type: array
      type: object
    cartApplyCouponsResponse:
      type: object
    cartCartData:
      example:
        subtotals:
        - code: null
          value:
            micros: 0
            units: units
        - code: null
          value:
            micros: 0
            units: units
        grn: grn
        notes: notes
        payments:
        - amount:
            micros: 0
            units: units
          code: code
          payload: payload
          vatPercentage: 2.302136
          fee:
            micros: 0
            units: units
          description:
            value:
              key: value
          label:
            value:
              key: value
          title:
            value:
              key: value
          vatInaccurate: true
          vatCalculated: true
          vatAmount:
            micros: 0
            units: units
          isUpfront: true
        - amount:
            micros: 0
            units: units
          code: code
          payload: payload
          vatPercentage: 2.302136
          fee:
            micros: 0
            units: units
          description:
            value:
              key: value
          label:
            value:
              key: value
          title:
            value:
              key: value
          vatInaccurate: true
          vatCalculated: true
          vatAmount:
            micros: 0
            units: units
          isUpfront: true
        totalDue:
          micros: 0
          units: units
        channel: channel
        locale: locale
        shipments:
        - code: code
          method: method
          cartItemIds:
          - cartItemIds
          - cartItemIds
          shipmentGrn: shipmentGrn
          payload: payload
          vatPercentage: 7.0614014
          fee:
            micros: 0
            units: units
          label: label
          vatInaccurate: true
          vatCalculated: true
          vatAmount:
            micros: 0
            units: units
        - code: code
          method: method
          cartItemIds:
          - cartItemIds
          - cartItemIds
          shipmentGrn: shipmentGrn
          payload: payload
          vatPercentage: 7.0614014
          fee:
            micros: 0
            units: units
          label: label
          vatInaccurate: true
          vatCalculated: true
          vatAmount:
            micros: 0
            units: units
        market: market
        createdAt: 2000-01-23T04:56:07.000+00:00
        promotions:
        - cartItemIds:
          - cartItemIds
          - cartItemIds
          payload: payload
          vatPercentage: 9.301444
          name: name
          description: description
          discount:
            micros: 0
            units: units
          promotionGrn: promotionGrn
          type: type
          couponCode: couponCode
          vatInaccurate: true
          vatCalculated: true
          vatAmount:
            micros: 0
            units: units
        - cartItemIds:
          - cartItemIds
          - cartItemIds
          payload: payload
          vatPercentage: 9.301444
          name: name
          description: description
          discount:
            micros: 0
            units: units
          promotionGrn: promotionGrn
          type: type
          couponCode: couponCode
          vatInaccurate: true
          vatCalculated: true
          vatAmount:
            micros: 0
            units: units
        total:
          micros: 0
          units: units
        vatIncluded: true
        shippingAddress:
          postalCode: postalCode
          locality: locality
          sublocality: sublocality
          languageCode: languageCode
          administrativeArea: administrativeArea
          revision: 3
          regionCode: regionCode
          phoneNumber: phoneNumber
          sortingCode: sortingCode
          recipients:
          - recipients
          - recipients
          organization: organization
          additionalInfo: "{}"
          addressLines:
          - addressLines
          - addressLines
        currency: null
        id: id
        billingAddress:
          postalCode: postalCode
          locality: locality
          sublocality: sublocality
          languageCode: languageCode
          administrativeArea: administrativeArea
          revision: 3
          regionCode: regionCode
          phoneNumber: phoneNumber
          sortingCode: sortingCode
          recipients:
          - recipients
          - recipients
          organization: organization
          additionalInfo: "{}"
          addressLines:
          - addressLines
          - addressLines
        items:
        - customPrice:
            price:
              micros: 0
              units: units
            previousPrice:
              micros: 0
              units: units
          localizedName:
            key: localizedName
          quantity: 5
          productGrn: productGrn
          discount:
            micros: 0
            units: units
          productData: productData
          promotionGrns:
          - promotionGrns
          - promotionGrns
          imageGrn: imageGrn
          vatCalculated: true
          vatAmount:
            micros: 0
            units: units
          productSku: productSku
          productCode: productCode
          variantOptions: variantOptions
          price:
            micros: 0
            units: units
          vatPercentage: 5.637377
          productConfiguration:
          - grn: grn
            options:
            - image:
                grn: grn
                url: url
              grn: grn
              priceVariation:
                micros: 0
                units: units
              quantity: 1
              hasQuantity: true
              id: id
              label:
                value:
                  key: value
              weightVariation: 6.0274563
            - image:
                grn: grn
                url: url
              grn: grn
              priceVariation:
                micros: 0
                units: units
              quantity: 1
              hasQuantity: true
              id: id
              label:
                value:
                  key: value
              weightVariation: 6.0274563
            description:
              value:
                key: value
            id: id
            label:
              value:
                key: value
          - grn: grn
            options:
            - image:
                grn: grn
                url: url
              grn: grn
              priceVariation:
                micros: 0
                units: units
              quantity: 1
              hasQuantity: true
              id: id
              label:
                value:
                  key: value
              weightVariation: 6.0274563
            - image:
                grn: grn
                url: url
              grn: grn
              priceVariation:
                micros: 0
                units: units
              quantity: 1
              hasQuantity: true
              id: id
              label:
                value:
                  key: value
              weightVariation: 6.0274563
            description:
              value:
                key: value
            id: id
            label:
              value:
                key: value
          additionalInfo: additionalInfo
          id: id
          isVirtual: true
          vatInaccurate: true
          listPrice:
            micros: 0
            units: units
          basePrice:
            micros: 0
            units: units
        - customPrice:
            price:
              micros: 0
              units: units
            previousPrice:
              micros: 0
              units: units
          localizedName:
            key: localizedName
          quantity: 5
          productGrn: productGrn
          discount:
            micros: 0
            units: units
          productData: productData
          promotionGrns:
          - promotionGrns
          - promotionGrns
          imageGrn: imageGrn
          vatCalculated: true
          vatAmount:
            micros: 0
            units: units
          productSku: productSku
          productCode: productCode
          variantOptions: variantOptions
          price:
            micros: 0
            units: units
          vatPercentage: 5.637377
          productConfiguration:
          - grn: grn
            options:
            - image:
                grn: grn
                url: url
              grn: grn
              priceVariation:
                micros: 0
                units: units
              quantity: 1
              hasQuantity: true
              id: id
              label:
                value:
                  key: value
              weightVariation: 6.0274563
            - image:
                grn: grn
                url: url
              grn: grn
              priceVariation:
                micros: 0
                units: units
              quantity: 1
              hasQuantity: true
              id: id
              label:
                value:
                  key: value
              weightVariation: 6.0274563
            description:
              value:
                key: value
            id: id
            label:
              value:
                key: value
          - grn: grn
            options:
            - image:
                grn: grn
                url: url
              grn: grn
              priceVariation:
                micros: 0
                units: units
              quantity: 1
              hasQuantity: true
              id: id
              label:
                value:
                  key: value
              weightVariation: 6.0274563
            - image:
                grn: grn
                url: url
              grn: grn
              priceVariation:
                micros: 0
                units: units
              quantity: 1
              hasQuantity: true
              id: id
              label:
                value:
                  key: value
              weightVariation: 6.0274563
            description:
              value:
                key: value
            id: id
            label:
              value:
                key: value
          additionalInfo: additionalInfo
          id: id
          isVirtual: true
          vatInaccurate: true
          listPrice:
            micros: 0
            units: units
          basePrice:
            micros: 0
            units: units
        status: null
        customer:
          firstname: firstname
          phoneNumber: phoneNumber
          customerGrn: customerGrn
          fiscalCode: fiscalCode
          companyName: companyName
          groups:
          - groups
          - groups
          taxCode: taxCode
          sdiCode: sdiCode
          email: email
          certifiedEmail: certifiedEmail
          lastname: lastname
          agentGrn: agentGrn
        updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          type: string
        grn:
          title: "Gemini Resource Name, eg: grn:dom:cart::58119a68-9498-11ec-b909-0242ac120002"
          type: string
        channel:
          type: string
        market:
          type: string
        locale:
          type: string
        items:
          items:
            $ref: '#/components/schemas/cartCartItem'
          type: array
        payments:
          items:
            $ref: '#/components/schemas/cartPaymentData'
          type: array
        shipments:
          items:
            $ref: '#/components/schemas/cartShipmentData'
          type: array
        promotions:
          items:
            $ref: '#/components/schemas/cartPromotionData'
          type: array
        currency:
          $ref: '#/components/schemas/cartCurrency'
        subtotals:
          items:
            $ref: '#/components/schemas/cartCartSubtotal'
          type: array
        total:
          $ref: '#/components/schemas/cartMoney'
        totalDue:
          $ref: '#/components/schemas/cartMoney'
        vatIncluded:
          title: is set by tenant settings
          type: boolean
        billingAddress:
          $ref: '#/components/schemas/cartPostalAddress'
        shippingAddress:
          $ref: '#/components/schemas/cartPostalAddress'
        status:
          $ref: '#/components/schemas/cartCartStatus'
        customer:
          $ref: '#/components/schemas/cartCustomerData'
        notes:
          title: customer notes on checkout
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
      type: object
    cartCartItem:
      example:
        customPrice:
          price:
            micros: 0
            units: units
          previousPrice:
            micros: 0
            units: units
        localizedName:
          key: localizedName
        quantity: 5
        productGrn: productGrn
        discount:
          micros: 0
          units: units
        productData: productData
        promotionGrns:
        - promotionGrns
        - promotionGrns
        imageGrn: imageGrn
        vatCalculated: true
        vatAmount:
          micros: 0
          units: units
        productSku: productSku
        productCode: productCode
        variantOptions: variantOptions
        price:
          micros: 0
          units: units
        vatPercentage: 5.637377
        productConfiguration:
        - grn: grn
          options:
          - image:
              grn: grn
              url: url
            grn: grn
            priceVariation:
              micros: 0
              units: units
            quantity: 1
            hasQuantity: true
            id: id
            label:
              value:
                key: value
            weightVariation: 6.0274563
          - image:
              grn: grn
              url: url
            grn: grn
            priceVariation:
              micros: 0
              units: units
            quantity: 1
            hasQuantity: true
            id: id
            label:
              value:
                key: value
            weightVariation: 6.0274563
          description:
            value:
              key: value
          id: id
          label:
            value:
              key: value
        - grn: grn
          options:
          - image:
              grn: grn
              url: url
            grn: grn
            priceVariation:
              micros: 0
              units: units
            quantity: 1
            hasQuantity: true
            id: id
            label:
              value:
                key: value
            weightVariation: 6.0274563
          - image:
              grn: grn
              url: url
            grn: grn
            priceVariation:
              micros: 0
              units: units
            quantity: 1
            hasQuantity: true
            id: id
            label:
              value:
                key: value
            weightVariation: 6.0274563
          description:
            value:
              key: value
          id: id
          label:
            value:
              key: value
        additionalInfo: additionalInfo
        id: id
        isVirtual: true
        vatInaccurate: true
        listPrice:
          micros: 0
          units: units
        basePrice:
          micros: 0
          units: units
      properties:
        id:
          type: string
        productGrn:
          type: string
        productConfiguration:
          items:
            $ref: '#/components/schemas/cartProductConfigurationStep'
          type: array
        quantity:
          format: int64
          type: integer
        price:
          $ref: '#/components/schemas/cartMoney'
        listPrice:
          $ref: '#/components/schemas/cartMoney'
        discount:
          $ref: '#/components/schemas/cartMoney'
        basePrice:
          $ref: '#/components/schemas/cartMoney'
        customPrice:
          $ref: '#/components/schemas/cartItemCustomPrice'
        vatAmount:
          $ref: '#/components/schemas/cartMoney'
        vatPercentage:
          format: float
          title: The VAT percentage to show (not to be used for calculation)
          type: number
        vatInaccurate:
          title: Is set to true if the VAT percentage is inaccurate (fallback with
            BaseCalculator)
          type: boolean
        vatCalculated:
          title: Is set to true if the VAT is calculated
          type: boolean
        localizedName:
          additionalProperties:
            type: string
          type: object
        productCode:
          type: string
        productSku:
          type: string
        imageGrn:
          type: string
        variantOptions:
          type: string
        isVirtual:
          type: boolean
        promotionGrns:
          items:
            type: string
          title: List of promotion GRNs applied to the item
          type: array
        additionalInfo:
          type: string
        productData:
          type: string
      type: object
    cartCartStatus:
      default: UNKNOWN
      enum:
      - UNKNOWN
      - ACTIVE
      - INACTIVE
      type: string
    cartCartSubtotal:
      example:
        code: null
        value:
          micros: 0
          units: units
      properties:
        code:
          $ref: '#/components/schemas/CartSubtotalCode'
        value:
          $ref: '#/components/schemas/cartMoney'
      type: object
    cartCreateCartRequest:
      properties:
        tenantId:
          type: string
        channel:
          type: string
        market:
          type: string
        locale:
          type: string
        customerGrn:
          title: optional
          type: string
        currency:
          $ref: '#/components/schemas/cartCurrency'
      type: object
    cartCreateCartResponse:
      example:
        id: id
      properties:
        id:
          type: string
      type: object
    cartCurrency:
      default: XXX
      description: "Stands for Albania, not all ;-)"
      enum:
      - XXX
      - ALL
      - DZD
      - ARS
      - AUD
      - BSD
      - BHD
      - BDT
      - AMD
      - BBD
      - BMD
      - BTN
      - BOB
      - BWP
      - BZD
      - SBD
      - BND
      - MMK
      - BIF
      - KHR
      - CAD
      - CVE
      - KYD
      - LKR
      - CLP
      - CNY
      - COP
      - KMF
      - CRC
      - HRK
      - CUP
      - CZK
      - DKK
      - DOP
      - SVC
      - ETB
      - ERN
      - FKP
      - FJD
      - DJF
      - GMD
      - GIP
      - GTQ
      - GNF
      - GYD
      - HTG
      - HNL
      - HKD
      - HUF
      - ISK
      - INR
      - IDR
      - IRR
      - IQD
      - ILS
      - JMD
      - JPY
      - KZT
      - JOD
      - KES
      - KPW
      - KRW
      - KWD
      - KGS
      - LAK
      - LBP
      - LSL
      - LRD
      - LYD
      - LTL
      - MOP
      - MWK
      - MYR
      - MVR
      - MRO
      - MUR
      - MXN
      - MNT
      - MDL
      - MAD
      - OMR
      - NAD
      - NPR
      - ANG
      - AWG
      - VUV
      - NZD
      - NIO
      - NGN
      - NOK
      - PKR
      - PAB
      - PGK
      - PYG
      - PEN
      - PHP
      - QAR
      - RUB
      - RWF
      - SHP
      - STD
      - SAR
      - SCR
      - SLL
      - SGD
      - VND
      - SOS
      - ZAR
      - SSP
      - SZL
      - SEK
      - CHF
      - SYP
      - THB
      - TOP
      - TTD
      - AED
      - TND
      - UGX
      - MKD
      - EGP
      - GBP
      - TZS
      - USD
      - UYU
      - UZS
      - WST
      - YER
      - TWD
      - CUC
      - ZWL
      - TMT
      - GHS
      - VEF
      - SDG
      - UYI
      - RSD
      - MZN
      - AZN
      - RON
      - CHE
      - CHW
      - TRY
      - XAF
      - XCD
      - XOF
      - XPF
      - XBA
      - XBB
      - XBC
      - XBD
      - XAU
      - XDR
      - XAG
      - XPT
      - XPD
      - XUA
      - ZMW
      - SRD
      - MGA
      - COU
      - AFN
      - TJS
      - AOA
      - BYR
      - BGN
      - CDF
      - BAM
      - EUR
      - MXV
      - UAH
      - GEL
      - BOV
      - PLN
      - BRL
      - CLF
      - XSU
      - USN
      title: |-
        - XXX: XXX = 999; //Changed to 0 because proto3 requires the default to be 0
         - ALL: XTS = 963; //Codes specifically reserved for testing purposes
      type: string
    cartCustomerData:
      example:
        firstname: firstname
        phoneNumber: phoneNumber
        customerGrn: customerGrn
        fiscalCode: fiscalCode
        companyName: companyName
        groups:
        - groups
        - groups
        taxCode: taxCode
        sdiCode: sdiCode
        email: email
        certifiedEmail: certifiedEmail
        lastname: lastname
        agentGrn: agentGrn
      properties:
        customerGrn:
          title: optional
          type: string
        firstname:
          type: string
        lastname:
          type: string
        email:
          type: string
        phoneNumber:
          type: string
        groups:
          items:
            type: string
          type: array
        taxCode:
          type: string
        certifiedEmail:
          type: string
        sdiCode:
          type: string
        fiscalCode:
          type: string
        companyName:
          type: string
        agentGrn:
          type: string
      type: object
    cartGetActiveCartByCustomerRequest:
      properties:
        tenantId:
          type: string
        customerGrn:
          type: string
        channel:
          type: string
        market:
          type: string
        currency:
          $ref: '#/components/schemas/cartCurrency'
      type: object
    cartGetActiveCartByCustomerResponse:
      example:
        cart:
          subtotals:
          - code: null
            value:
              micros: 0
              units: units
          - code: null
            value:
              micros: 0
              units: units
          grn: grn
          notes: notes
          payments:
          - amount:
              micros: 0
              units: units
            code: code
            payload: payload
            vatPercentage: 2.302136
            fee:
              micros: 0
              units: units
            description:
              value:
                key: value
            label:
              value:
                key: value
            title:
              value:
                key: value
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            isUpfront: true
          - amount:
              micros: 0
              units: units
            code: code
            payload: payload
            vatPercentage: 2.302136
            fee:
              micros: 0
              units: units
            description:
              value:
                key: value
            label:
              value:
                key: value
            title:
              value:
                key: value
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            isUpfront: true
          totalDue:
            micros: 0
            units: units
          channel: channel
          locale: locale
          shipments:
          - code: code
            method: method
            cartItemIds:
            - cartItemIds
            - cartItemIds
            shipmentGrn: shipmentGrn
            payload: payload
            vatPercentage: 7.0614014
            fee:
              micros: 0
              units: units
            label: label
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          - code: code
            method: method
            cartItemIds:
            - cartItemIds
            - cartItemIds
            shipmentGrn: shipmentGrn
            payload: payload
            vatPercentage: 7.0614014
            fee:
              micros: 0
              units: units
            label: label
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          market: market
          createdAt: 2000-01-23T04:56:07.000+00:00
          promotions:
          - cartItemIds:
            - cartItemIds
            - cartItemIds
            payload: payload
            vatPercentage: 9.301444
            name: name
            description: description
            discount:
              micros: 0
              units: units
            promotionGrn: promotionGrn
            type: type
            couponCode: couponCode
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          - cartItemIds:
            - cartItemIds
            - cartItemIds
            payload: payload
            vatPercentage: 9.301444
            name: name
            description: description
            discount:
              micros: 0
              units: units
            promotionGrn: promotionGrn
            type: type
            couponCode: couponCode
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          total:
            micros: 0
            units: units
          vatIncluded: true
          shippingAddress:
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            languageCode: languageCode
            administrativeArea: administrativeArea
            revision: 3
            regionCode: regionCode
            phoneNumber: phoneNumber
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            additionalInfo: "{}"
            addressLines:
            - addressLines
            - addressLines
          currency: null
          id: id
          billingAddress:
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            languageCode: languageCode
            administrativeArea: administrativeArea
            revision: 3
            regionCode: regionCode
            phoneNumber: phoneNumber
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            additionalInfo: "{}"
            addressLines:
            - addressLines
            - addressLines
          items:
          - customPrice:
              price:
                micros: 0
                units: units
              previousPrice:
                micros: 0
                units: units
            localizedName:
              key: localizedName
            quantity: 5
            productGrn: productGrn
            discount:
              micros: 0
              units: units
            productData: productData
            promotionGrns:
            - promotionGrns
            - promotionGrns
            imageGrn: imageGrn
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            productSku: productSku
            productCode: productCode
            variantOptions: variantOptions
            price:
              micros: 0
              units: units
            vatPercentage: 5.637377
            productConfiguration:
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
            additionalInfo: additionalInfo
            id: id
            isVirtual: true
            vatInaccurate: true
            listPrice:
              micros: 0
              units: units
            basePrice:
              micros: 0
              units: units
          - customPrice:
              price:
                micros: 0
                units: units
              previousPrice:
                micros: 0
                units: units
            localizedName:
              key: localizedName
            quantity: 5
            productGrn: productGrn
            discount:
              micros: 0
              units: units
            productData: productData
            promotionGrns:
            - promotionGrns
            - promotionGrns
            imageGrn: imageGrn
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            productSku: productSku
            productCode: productCode
            variantOptions: variantOptions
            price:
              micros: 0
              units: units
            vatPercentage: 5.637377
            productConfiguration:
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
            additionalInfo: additionalInfo
            id: id
            isVirtual: true
            vatInaccurate: true
            listPrice:
              micros: 0
              units: units
            basePrice:
              micros: 0
              units: units
          status: null
          customer:
            firstname: firstname
            phoneNumber: phoneNumber
            customerGrn: customerGrn
            fiscalCode: fiscalCode
            companyName: companyName
            groups:
            - groups
            - groups
            taxCode: taxCode
            sdiCode: sdiCode
            email: email
            certifiedEmail: certifiedEmail
            lastname: lastname
            agentGrn: agentGrn
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        cart:
          $ref: '#/components/schemas/cartCartData'
      type: object
    cartGetCartRequest:
      description: Get cart request
      properties:
        tenantId:
          description: The unique identifier for the tenant associated with the shopping
            cart.
          pattern: "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
          title: Tenant ID
          type: string
        cartId:
          type: string
      title: Get Cart Request
      type: object
    cartGetCartResponse:
      example:
        cart:
          subtotals:
          - code: null
            value:
              micros: 0
              units: units
          - code: null
            value:
              micros: 0
              units: units
          grn: grn
          notes: notes
          payments:
          - amount:
              micros: 0
              units: units
            code: code
            payload: payload
            vatPercentage: 2.302136
            fee:
              micros: 0
              units: units
            description:
              value:
                key: value
            label:
              value:
                key: value
            title:
              value:
                key: value
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            isUpfront: true
          - amount:
              micros: 0
              units: units
            code: code
            payload: payload
            vatPercentage: 2.302136
            fee:
              micros: 0
              units: units
            description:
              value:
                key: value
            label:
              value:
                key: value
            title:
              value:
                key: value
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            isUpfront: true
          totalDue:
            micros: 0
            units: units
          channel: channel
          locale: locale
          shipments:
          - code: code
            method: method
            cartItemIds:
            - cartItemIds
            - cartItemIds
            shipmentGrn: shipmentGrn
            payload: payload
            vatPercentage: 7.0614014
            fee:
              micros: 0
              units: units
            label: label
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          - code: code
            method: method
            cartItemIds:
            - cartItemIds
            - cartItemIds
            shipmentGrn: shipmentGrn
            payload: payload
            vatPercentage: 7.0614014
            fee:
              micros: 0
              units: units
            label: label
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          market: market
          createdAt: 2000-01-23T04:56:07.000+00:00
          promotions:
          - cartItemIds:
            - cartItemIds
            - cartItemIds
            payload: payload
            vatPercentage: 9.301444
            name: name
            description: description
            discount:
              micros: 0
              units: units
            promotionGrn: promotionGrn
            type: type
            couponCode: couponCode
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          - cartItemIds:
            - cartItemIds
            - cartItemIds
            payload: payload
            vatPercentage: 9.301444
            name: name
            description: description
            discount:
              micros: 0
              units: units
            promotionGrn: promotionGrn
            type: type
            couponCode: couponCode
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          total:
            micros: 0
            units: units
          vatIncluded: true
          shippingAddress:
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            languageCode: languageCode
            administrativeArea: administrativeArea
            revision: 3
            regionCode: regionCode
            phoneNumber: phoneNumber
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            additionalInfo: "{}"
            addressLines:
            - addressLines
            - addressLines
          currency: null
          id: id
          billingAddress:
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            languageCode: languageCode
            administrativeArea: administrativeArea
            revision: 3
            regionCode: regionCode
            phoneNumber: phoneNumber
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            additionalInfo: "{}"
            addressLines:
            - addressLines
            - addressLines
          items:
          - customPrice:
              price:
                micros: 0
                units: units
              previousPrice:
                micros: 0
                units: units
            localizedName:
              key: localizedName
            quantity: 5
            productGrn: productGrn
            discount:
              micros: 0
              units: units
            productData: productData
            promotionGrns:
            - promotionGrns
            - promotionGrns
            imageGrn: imageGrn
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            productSku: productSku
            productCode: productCode
            variantOptions: variantOptions
            price:
              micros: 0
              units: units
            vatPercentage: 5.637377
            productConfiguration:
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
            additionalInfo: additionalInfo
            id: id
            isVirtual: true
            vatInaccurate: true
            listPrice:
              micros: 0
              units: units
            basePrice:
              micros: 0
              units: units
          - customPrice:
              price:
                micros: 0
                units: units
              previousPrice:
                micros: 0
                units: units
            localizedName:
              key: localizedName
            quantity: 5
            productGrn: productGrn
            discount:
              micros: 0
              units: units
            productData: productData
            promotionGrns:
            - promotionGrns
            - promotionGrns
            imageGrn: imageGrn
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            productSku: productSku
            productCode: productCode
            variantOptions: variantOptions
            price:
              micros: 0
              units: units
            vatPercentage: 5.637377
            productConfiguration:
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
            additionalInfo: additionalInfo
            id: id
            isVirtual: true
            vatInaccurate: true
            listPrice:
              micros: 0
              units: units
            basePrice:
              micros: 0
              units: units
          status: null
          customer:
            firstname: firstname
            phoneNumber: phoneNumber
            customerGrn: customerGrn
            fiscalCode: fiscalCode
            companyName: companyName
            groups:
            - groups
            - groups
            taxCode: taxCode
            sdiCode: sdiCode
            email: email
            certifiedEmail: certifiedEmail
            lastname: lastname
            agentGrn: agentGrn
          updatedAt: 2000-01-23T04:56:07.000+00:00
      properties:
        cart:
          $ref: '#/components/schemas/cartCartData'
      type: object
    cartItemCustomPrice:
      example:
        price:
          micros: 0
          units: units
        previousPrice:
          micros: 0
          units: units
      properties:
        price:
          $ref: '#/components/schemas/cartMoney'
        previousPrice:
          $ref: '#/components/schemas/cartMoney'
      type: object
    cartListCartsRequest:
      properties:
        tenantId:
          type: string
        pageSize:
          format: int64
          title: if page_size is not set it will default to 0 which means all available
            carts
          type: integer
        pageToken:
          type: string
        sorts:
          items:
            $ref: '#/components/schemas/ListCartsRequestSort'
          type: array
        filterMask:
          type: string
        filter:
          $ref: '#/components/schemas/ListCartsRequestFilter'
      type: object
    cartListCartsResponse:
      example:
        carts:
        - subtotals:
          - code: null
            value:
              micros: 0
              units: units
          - code: null
            value:
              micros: 0
              units: units
          grn: grn
          notes: notes
          payments:
          - amount:
              micros: 0
              units: units
            code: code
            payload: payload
            vatPercentage: 2.302136
            fee:
              micros: 0
              units: units
            description:
              value:
                key: value
            label:
              value:
                key: value
            title:
              value:
                key: value
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            isUpfront: true
          - amount:
              micros: 0
              units: units
            code: code
            payload: payload
            vatPercentage: 2.302136
            fee:
              micros: 0
              units: units
            description:
              value:
                key: value
            label:
              value:
                key: value
            title:
              value:
                key: value
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            isUpfront: true
          totalDue:
            micros: 0
            units: units
          channel: channel
          locale: locale
          shipments:
          - code: code
            method: method
            cartItemIds:
            - cartItemIds
            - cartItemIds
            shipmentGrn: shipmentGrn
            payload: payload
            vatPercentage: 7.0614014
            fee:
              micros: 0
              units: units
            label: label
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          - code: code
            method: method
            cartItemIds:
            - cartItemIds
            - cartItemIds
            shipmentGrn: shipmentGrn
            payload: payload
            vatPercentage: 7.0614014
            fee:
              micros: 0
              units: units
            label: label
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          market: market
          createdAt: 2000-01-23T04:56:07.000+00:00
          promotions:
          - cartItemIds:
            - cartItemIds
            - cartItemIds
            payload: payload
            vatPercentage: 9.301444
            name: name
            description: description
            discount:
              micros: 0
              units: units
            promotionGrn: promotionGrn
            type: type
            couponCode: couponCode
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          - cartItemIds:
            - cartItemIds
            - cartItemIds
            payload: payload
            vatPercentage: 9.301444
            name: name
            description: description
            discount:
              micros: 0
              units: units
            promotionGrn: promotionGrn
            type: type
            couponCode: couponCode
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          total:
            micros: 0
            units: units
          vatIncluded: true
          shippingAddress:
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            languageCode: languageCode
            administrativeArea: administrativeArea
            revision: 3
            regionCode: regionCode
            phoneNumber: phoneNumber
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            additionalInfo: "{}"
            addressLines:
            - addressLines
            - addressLines
          currency: null
          id: id
          billingAddress:
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            languageCode: languageCode
            administrativeArea: administrativeArea
            revision: 3
            regionCode: regionCode
            phoneNumber: phoneNumber
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            additionalInfo: "{}"
            addressLines:
            - addressLines
            - addressLines
          items:
          - customPrice:
              price:
                micros: 0
                units: units
              previousPrice:
                micros: 0
                units: units
            localizedName:
              key: localizedName
            quantity: 5
            productGrn: productGrn
            discount:
              micros: 0
              units: units
            productData: productData
            promotionGrns:
            - promotionGrns
            - promotionGrns
            imageGrn: imageGrn
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            productSku: productSku
            productCode: productCode
            variantOptions: variantOptions
            price:
              micros: 0
              units: units
            vatPercentage: 5.637377
            productConfiguration:
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
            additionalInfo: additionalInfo
            id: id
            isVirtual: true
            vatInaccurate: true
            listPrice:
              micros: 0
              units: units
            basePrice:
              micros: 0
              units: units
          - customPrice:
              price:
                micros: 0
                units: units
              previousPrice:
                micros: 0
                units: units
            localizedName:
              key: localizedName
            quantity: 5
            productGrn: productGrn
            discount:
              micros: 0
              units: units
            productData: productData
            promotionGrns:
            - promotionGrns
            - promotionGrns
            imageGrn: imageGrn
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            productSku: productSku
            productCode: productCode
            variantOptions: variantOptions
            price:
              micros: 0
              units: units
            vatPercentage: 5.637377
            productConfiguration:
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
              label:
                value:
                  key: value
            additionalInfo: additionalInfo
            id: id
            isVirtual: true
            vatInaccurate: true
            listPrice:
              micros: 0
              units: units
            basePrice:
              micros: 0
              units: units
          status: null
          customer:
            firstname: firstname
            phoneNumber: phoneNumber
            customerGrn: customerGrn
            fiscalCode: fiscalCode
            companyName: companyName
            groups:
            - groups
            - groups
            taxCode: taxCode
            sdiCode: sdiCode
            email: email
            certifiedEmail: certifiedEmail
            lastname: lastname
            agentGrn: agentGrn
          updatedAt: 2000-01-23T04:56:07.000+00:00
        - subtotals:
          - code: null
            value:
              micros: 0
              units: units
          - code: null
            value:
              micros: 0
              units: units
          grn: grn
          notes: notes
          payments:
          - amount:
              micros: 0
              units: units
            code: code
            payload: payload
            vatPercentage: 2.302136
            fee:
              micros: 0
              units: units
            description:
              value:
                key: value
            label:
              value:
                key: value
            title:
              value:
                key: value
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            isUpfront: true
          - amount:
              micros: 0
              units: units
            code: code
            payload: payload
            vatPercentage: 2.302136
            fee:
              micros: 0
              units: units
            description:
              value:
                key: value
            label:
              value:
                key: value
            title:
              value:
                key: value
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            isUpfront: true
          totalDue:
            micros: 0
            units: units
          channel: channel
          locale: locale
          shipments:
          - code: code
            method: method
            cartItemIds:
            - cartItemIds
            - cartItemIds
            shipmentGrn: shipmentGrn
            payload: payload
            vatPercentage: 7.0614014
            fee:
              micros: 0
              units: units
            label: label
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          - code: code
            method: method
            cartItemIds:
            - cartItemIds
            - cartItemIds
            shipmentGrn: shipmentGrn
            payload: payload
            vatPercentage: 7.0614014
            fee:
              micros: 0
              units: units
            label: label
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          market: market
          createdAt: 2000-01-23T04:56:07.000+00:00
          promotions:
          - cartItemIds:
            - cartItemIds
            - cartItemIds
            payload: payload
            vatPercentage: 9.301444
            name: name
            description: description
            discount:
              micros: 0
              units: units
            promotionGrn: promotionGrn
            type: type
            couponCode: couponCode
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          - cartItemIds:
            - cartItemIds
            - cartItemIds
            payload: payload
            vatPercentage: 9.301444
            name: name
            description: description
            discount:
              micros: 0
              units: units
            promotionGrn: promotionGrn
            type: type
            couponCode: couponCode
            vatInaccurate: true
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
          total:
            micros: 0
            units: units
          vatIncluded: true
          shippingAddress:
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            languageCode: languageCode
            administrativeArea: administrativeArea
            revision: 3
            regionCode: regionCode
            phoneNumber: phoneNumber
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            additionalInfo: "{}"
            addressLines:
            - addressLines
            - addressLines
          currency: null
          id: id
          billingAddress:
            postalCode: postalCode
            locality: locality
            sublocality: sublocality
            languageCode: languageCode
            administrativeArea: administrativeArea
            revision: 3
            regionCode: regionCode
            phoneNumber: phoneNumber
            sortingCode: sortingCode
            recipients:
            - recipients
            - recipients
            organization: organization
            additionalInfo: "{}"
            addressLines:
            - addressLines
            - addressLines
          items:
          - customPrice:
              price:
                micros: 0
                units: units
              previousPrice:
                micros: 0
                units: units
            localizedName:
              key: localizedName
            quantity: 5
            productGrn: productGrn
            discount:
              micros: 0
              units: units
            productData: productData
            promotionGrns:
            - promotionGrns
            - promotionGrns
            imageGrn: imageGrn
            vatCalculated: true
            vatAmount:
              micros: 0
              units: units
            productSku: productSku
            productCode: productCode
            variantOptions: variantOptions
            price:
              micros: 0
              units: units
            vatPercentage: 5.637377
            productConfiguration:
            - grn: grn
              options:
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              - image:
                  grn: grn
                  url: url
                grn: grn
                priceVariation:
                  micros: 0
                  units: units
                quantity: 1
                hasQuantity: true
                id: id
                label:
                  value:
                    key: value
                weightVariation: 6.0274563
              description:
                value:
                  key: value
              id: id
[...]
